body {
    background-image: url("img/background/background.jpg");
    background-size: 100%;
    background-color: 	#008000;
}

h1 {
    color: white;
    text-align: center;
}

p {
    color: yellow;
    font-family: verdana;
    font-size: 20px;
}

ppf {
    color: yellow;
    font-family: verdana;
    font-size: 12px;
}
