body {
    background-color: 	#008000;
    background-image: url("img/background/background.jpg");
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
